.flex{
    display: flex;
    flex-wrap: wrap;
}
/*--- Left panel on main site ---*/
#left-panel-inside{
    margin: 10px 0 0 10px;
}
#left-panel{
    width: 20%;
    background-color: #ffb843;
    min-width: 100px;
}
.nick{
    font-weight: bold;
    font-style: italic;
}
.nick:hover{
    color: dodgerblue;
    cursor: pointer;
}
#left-panel-menu{
    margin: 20px;
}
#left-panel-menu ul{
    padding-left: 0;
}
#left-panel-menu li{
    list-style: none;
    margin-bottom: 20px;
    font-weight: bold;
}
#left-panel-menu li:hover{
    color: dodgerblue;
    cursor: pointer;
}
.logoutButton{
    padding: 0;
    background-color: transparent;
    border: none;
    color: black;
    font-family: unset;
    font-size: 1em;
    font-weight: bold;
}
.logoutButton:hover{
    color: dodgerblue;
    cursor: pointer;
}
/*--- Right panel on main site ---*/
#right-panel{
    width: 20%;
    background-color: #ffb843;
    min-width: 100px;
}
#right-panel-inside{
    margin: 10px 0 0 10px;
}
#chirp-logo{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
/*--- Main panel on main site ---*/
#main-panel{
    width: 60%;
    background-color: white;
    min-width: 200px;
}
.chirpTitle{
    font-weight: bold;
}
.chirpTitleGray{
    color: #505050;
}
.chirpTitleGray a {
    color: #505050;
}
#chirpFeed {
    margin-left: 15px;
    margin-right: 15px;
}
#form {
    margin-left: 15px;
    margin-right: 15px;
}
.chirp{
    border-radius: 5px;
    padding: 0 5px 0 5px;
}
/*Chirp form on main site*/
form#chirp-form textarea{
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    height: 8em;
    border-radius: 5px;
    max-height: 200px;
}
.red-border{
    border: 3px solid red;
    background-color: #e1e1e1;
}
.form-style{
    border: 3px solid #e1e1e1;
    background-color: #e1e1e1;
}
.red-counter{
    color: darkred;
}

